<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDb"
			 connectionString="Data Source=SWAPNIL;Initial Catalog=InventoryDb;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
